name: Daily Fetch Matches

on:
  schedule:
    - cron: '0 2,9 * * *'  # 每天北京时间10点和17点
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Run script
      run: python fetch_matches.py
    
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add matches.json
        git commit -m "Update matches" -a || exit 0
        git push
