name: Daily Fetch Matches

on:
  schedule:
    - cron: '0 2,9 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Run script
      run: python fetch_matches.py
      
    - name: Configure Git
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
    
    - name: Commit and push
      run: |
        git add matches.json
        git diff --staged --quiet || (git commit -m "Update matches $(date +'%Y-%m-%d')" && git push)
